<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>为什么基于以太坊的DeFi板块的出色表现不会持续很长时间？</string>
		<key>images</key>
		<array>
			<string>community_12</string>
		</array>
		<key>content</key>
		<string>基于以太坊的DeFi板块的快速发展在加密行业引起了巨大的轰动，大量的新用户和投资者涌入，创造了牛市时期典型的增长。这一趋势显著提升了ETH的基本实力，但还没有让ETH积累任何价值。

因此，当把今年流行的去中心化金融ERC-20的表现与以太坊相比时，就让人难以置信的发现，ETH的价格行动是多么的落后。

然而，这种趋势很有可能不会持续太久，因为许多分析师认为，DeFi生态系统的增长已成为一个泡沫——泡沫的破裂可能会推动以太坊的发展。

DeFi相关的ERC-20代币在2020年的表现大大超过以太坊

尽管3月份出现了巨大的动荡，但就以太坊的价格而言，到目前为止还是不错的一年。

在2020年开始交易时，以太坊的价格约为130美元，此后在2月中旬曾一度飙升至290美元，随后遭到了强烈下跌，最终在100美元以下的区域跌至低点。

此后该指数有所回升，今年迄今已上涨近75%。当然这不是一个小数目，但与许多与DeFi相关的ERC-20代币的收益相比，它显得相形见绌。

在去中心化金融领域中运营的基于以太坊的顶级代币的性能，自今年年初开始，只有少数几个表现不如ETH，其中许多代币的收益都象征着全面牛市时期的收益。</string>
		<key>time</key>
		<string>2020-07-07 16:35:46</string>
	</dict>
	<dict>
		<key>title</key>
		<string>基于BSN的浙江省级区块链主干网正式发布 </string>
		<key>images</key>
		<array>
			<string>community_10</string>
			<string>community_11</string>
		</array>
		<key>content</key>
		<string>根据介绍，余杭区未来科技城与杭州移动、运营方巴比特将建立全方位的深度战略合作关系，共同推进区块链技术和应用在浙江省的普及与发展，并致力于为广大政企单位和个人用户提供便捷、低成本的一站式区块链环境服务。

区块链服务网络BSN是基于互联网搭建的区块链基础设施，可以称为“区块链互联网”，其建设规划和发展路径与互联网相同。自从2019年10月15日由国家信息中心、中国移动通信集团公司、中国银联股份有限公司和北京红枣科技有限公司共同主导发布以来，BSN已经在全国100多个城市建立了公共城市节点，形成了全球最大的区块链基础设施网络。

凭借BSN提供的跨云服务、跨底层框架和跨门户的区块链服务能力，能够推动整个区块链产业的稳步发展，赋能产业链的快速建立。但在实际操作中，作为BSN建设管理方的区块链服务网络发展联盟（简称“发展联盟”）是很难真正深入到每个城市，建立起整套地方运营机制和长效培训机制的。为此，发展联盟呼吁由全国各省主导建设“省级区块链主干网”，旨在为每个省建立一个BSN门户，将省内已有或新增的公共城市节点纳入，与门户进行统一管理和运营。以一个门户为入口，三个中心（孵化中心、培训中心、运营中心）为基础，多个省内城市节点为资源，打造以地方政府+移动省公司+营运主体为核心的各省级区块链主干网的运营体系。依托主干网并通过整合云资源、门户运营、产品研发、技术培训、企业孵化、场景拓展、政府监管等，最终构建成为一个可持续发展的省级区块链产业生态体系。

浙江省作为国内第一个发布的省级区块链主干网的省份，将成为我国区块链技术发展的一座重要里程碑，也是未来各省主干网建设和运营的示范标杆。随着各省逐步启动区块链主干网的建设，相信将加速实现区块链技术与产业的深度结合，推动产业实现转型升级，真正让区块链技术创新赋能实体经济，助力当地产业创造出新的价值增量。</string>
		<key>time</key>
		<string>2020-07-07 17:05:22</string>
	</dict>
	<dict>
		<key>title</key>
		<string>比特傻观点：Filecoin挖矿的7大风险 </string>
		<key>images</key>
		<array>
			<string>community_08</string>
			<string>community_09</string>
		</array>
		<key>content</key>
		<string>Filecoin挖矿的7大风险。1、矿机上线不及时的风险。你最好主网上线后一周内就挖矿，否则可能头矿被人挖走。当然，头矿可能压根不存在，也可能十分鸡肋。2、矿机部署需要7周左右时间，也就是你现在就要掏钱买机子了。你现在掏钱，也就意味着你呀，要冒主网算法变动、主网参数极端化、主网推迟的风险。3、你真的挖了，没问题。币价大概率是个高开低走的格局。第一个月，市场将有私募开始砸盘了。而你至少需要前3个月，将空间存满，期间挖的币要用于抵押，根本卖不出多少。你存满了就可以卖币了吗？非也。你需要等存储的服务期到期，才可以解除抵押，这时币价可能过了几轮过山车了。4.无法对冲的风险。POW挖矿的期权和期货，已经相对成熟。而fil的期权期货，不仅仅不成熟，而且还会有相当多的交易所，借此做内盘。又是一把锋利的镰刀。5、维护风险。你应该知道filecoin挖矿要在IDC机房嘛。去查查美国标准T3 20A，然后问问价格。沿海稳定且贵，北方和内陆有瑕疵，但便宜。这是稳定性和关机价格的两难，目测又有不少青头要帆船。6、现有存力风险。陆陆续续，卖了几百亿的矿机。有的能挖，有的不能，有的修整下硬件就能娃了，有的彻底废铁。有的效率高，有的效率低。没人能说清市场的初始存力有多少P。比特傻推荐至少三测的账面存力乘以10。7、Filecoin完犊子的风险，币价如果长期低于4usd，应该就无法维持一个规模的矿业了。</string>
		<key>time</key>
		<string>2020-07-07 17:33:43</string>
	</dict>
	<dict>
		<key>title</key>
		<string>牛市何时来？减半、放水能开启下轮大牛市吗？ 看完你就懂了</string>
		<key>images</key>
		<array>
			<string>community_05</string>
			<string>community_06</string>
			<string>community_07</string>
		</array>
		<key>content</key>
		<string>比特币长期来看会一直涨下去的论调几乎每个刚来的新人都会听说，然而心态往往取决于他们入场的时机。16-17年入场的人，可能会被17年那波疯牛强化了信仰。18年初入场站在山顶的投资者，可能已然寒了心，2年多过去了，依旧看不到什么希望，对这个“长线一直涨”的说法，也许早已充满怀疑。
最近的这几个月，在不断绞杀无数人耐心或是信仰的同时，也同样给予无数人希望。毕竟”横有多长，竖有多高”这句话，每个人都不陌生。在这几个月里，也有不少看起来“合情合理”的理由与分析，让你觉得牛市似乎就在眼前，本篇，就来讨论这些理由（如有不足，请指出）。作为一个加密货币的从业者+支持者，当然希望并坚信牛市的到来。然而，有些常见的，你可能坚信不已的理由，从逻辑上，其实并没有那么站的住脚。
减半
减半虽然是个被说烂的话题，然而还是要在这儿提一下，因为这是最多人相信的东西。
首先你应该知道的是，历史上的两次减半，真正的牛市都是减产后一年左右时间才来，不是减产前，所以现在就指望比特币飞涨，不太现实。
更需要知道的是，减半会带来牛市的基础逻辑，是市场上的供应会减少，或者说执行“挖卖提”的矿工抛压砸盘数量会减半。在需求方也就是买盘不变的情况下，币价自然会涨。
然而这种逻辑是随着减半次数的递增而锐减的。第一次减半，流通的比特币相对于总量还不大，矿工抛压占比很重，这套逻辑没毛病。到第二次减半的时候，矿工抛压的占比已然没有那么多。现在这第三次减半，目前流通的比特币已经1800多万，占总量2100万的87%，未来一段时间矿工抛压相对于市场的影响已然非常之小，再往后（2024，2028，2032……）的减半，对于比特币供需关系的影响，就真的是微乎其微了。
从这次往后，减半的真正意味是什么？
意味着对于矿工的生死大考，以及对于路线的胜负之争。
原因很简单，现如今的SHA256算力已然兵分三路，绝大多数矿工只是逐利而已，向来都是哪条链的利润高去挖哪条。减半之后，要么去挖价格暴涨的一条链，通过相对法币的价格暴涨来抵消减半带来的成本压力，要么去挖上面手续费收入大幅增加的一条链，通过手续费来弥补减半的损失,没有第三条路可以走。
这次的减半，只是小试牛刀，互相试探。
未来两次的减半，才是真的刺刀见红，手下见真章的时刻，究竟是BTC作为数字黄金暴涨，还是BCH与BSV作为数字现金与全球账本手续费收入大幅增加，我们届时可见分晓。
所以，未来的减半，是激动人心而又残酷的考验时刻， 绝不是什么牛市开启的冲锋号。
但话说回来，虽然逻辑上站不住脚，但是减半这个事，太适合作为故事与共识，成为主力资金拉盘的理由，所以减半能否带来牛市，最后可能归为玄学。
美联储的无限QE，放水，增发……
这可能是近期被最多人提到的一个话题。
新冠打了全球一个措手不及，风险资产在这种史无前例的打击下，自然也是一泻千里，312大惨案更是会被作为一个标志性事件，载入区块链史册。
为了救市，美联储拿出了常用的招数 ——印钱，先来一个7千亿，不够又来一个2万亿，还是不够直接，无限QE（量化宽松）。
很多人说对于资本市场这是利好啊，这么多钱要到哪里去？肯定有一部分会流向黄金，债券，股票，比特币这些啊，通货膨胀不可避免，那些带有“抗通胀”能力的资产，一定会在疫情稳定后受到青睐的。
这话听着逻辑上没什么毛病，毕竟比特币创世区块里那句话很多老玩家都能背得出来 – The Times 03/Jan/2009 Chancellor on brink of second bailout for banks.（财政大臣处于第二次援助银行的边缘）。
那么问题在哪，为什么说无线QE有可能不会是比特币上涨的原因?
原因就是，即便无限QE，美联储印钞机每天开个不停，也并不意味着整个社会上货币总量的大幅增加，或者说超级大通胀的年代即将到来。
若是疫情没有控制好，造成类似30年代美国大萧条那样的场景，那么一定时间内的通缩，甚至都有可能的。
要知道社会上的钱，或者说货币总量，并非就是央妈或是美联储印出来的那些，而是经过了“央行派发基础货币给商业银行” ——&gt; “商业银行拿到钱后信贷给企业和居民”  ——&gt; “企业与居民存款与还款回商业银行” 这样一个三部曲的流程。使得步骤一里面的基础货币在步骤二、三之间循环往复，被成倍的放大，这也是为什么经济学上有一个“货币乘数”的概念。
而现在的美联储无限印钞，只是增大了步骤一的体量，但2,3两步循环带来的的倍数，却因为疫情影响，全球经济活动冻结而导致严重萎缩，所以最终的“水量”，在此消彼长情况下，目前还很难说会造成多大的通胀，不信，去翻翻美国30年到大萧条的历史数据。在1929年到1933年的4年多时间里，基础货币增发了18%，货币总量却下降了28%，原因就在与货币乘数在大萧条的影响下从开始的3.7下降到了2.3。
所以无限QE能否带来比特币的暴涨，除了看疫情能不能控制住，还得看什么时候能控制住，对于经济尤其是货币乘数的影响有多大，才能知道。现在断言无线QE比特币一定涨，为时太早。
区块链是未来，比特币又是区块链鼻祖
这句话长期来看（10年-20年长度）可能没毛病，但短期真的不适用。
先说句题外话，最近半条命的最新大作，《半条命：Alyx》终于发布了，不管你玩不玩游戏，我都强烈建议你去看看这个游戏的视频或是图文评测也行。
为什么要说这个?因为历经这么多年发展，VR游戏里面，终于真正出来一个能打的了！
我们不从1965年——VR的真正起源——美国最早用于军事模拟训练的头戴可视设备开始算起。
我们就从游戏领域开始算起，从1993年世嘉发布的SEGA-VR游戏头盔来算，到现在，已经27年了。
这期间有过很长时间的断层，在任天堂和世嘉90年代的VR设备失败之后，VR几乎无人问津。
直到2012年，出现了很多玩家熟悉的Oculus Rift，VR热潮才再一次被掀起，以至于从2015年到2020年，几乎每一年都被宣称是VR的元年（听着是不是有点像过去几年的区块链，每一年都是一个公链元年……）。</string>
		<key>time</key>
		<string>2020-07-07 17:55:03</string>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<string>community_02</string>
			<string>community_03</string>
		</array>
		<key>content</key>
		<string>一日之内，LTG暴跌超过60%，吉比特矿池客户端无法登录，这两个项目的实控人“雷总”被拘留的消息广传于圈内。
       1年来，号称“在吉尔吉斯斯坦拥有政府资源”并自建矿场的吉比特矿池，以“共享挖矿” 招揽投资者进行抵押，挖矿BTC和LTG。一时间，吉比特横跨矿、币两圈。
       前期，用户需将BTC充值进该公司开发的中心化客户端抵押，支付矿机租赁费后进行“云挖矿”。尽管管理方多次表示，随时欢迎用户实地考察，但对于多数用户来说，到吉尔吉斯斯坦实地探访不切实际。
       去年底，同样由“雷总”操刀的“全球首个分布式存储公链”代币LTG登陆二级市场，随即进入吉比特矿池的挖矿体系，用户可以抵押LTG挖矿。疯狂时期，LTG较发行价翻了267倍，用户赐名“辣条哥”。
如今，辣条哥一个月内跌幅达到85.57%，仅靠概念支撑的LTG让很多投资者翻了车。
       共享挖矿、发行概念币的吉比特矿池，通过华丽的包装吸引投资者，其突然暴雷，也揭露了云挖矿项目发币的大坑，为投资同类模式矿币的投资者敲响了警钟。</string>
		<key>title</key>
		<string>吉比特倒下暴露矿圈涉币大坑 </string>
		<key>time</key>
		<string>2020-07-07 18:35:22</string>
	</dict>
	<dict>
		<key>title</key>
		<string>中国的以太坊：不是分叉项目，而是NEO </string>
		<key>images</key>
		<array>
			<string>community_04</string>
		</array>
		<key>content</key>
		<string>当听到智能合约的时候，人们往往会想到Ethereum。然而，Ethereum并不是唯一一个允许用户运行智能合约和创建去中心化应用程序（DApps）的区块链平台。

NEO是这些平台中的一个，他的特点在于其基于区块链实现智能经济这个有趣的概念。

NEO是什么？
NEO的前身是小蚁，是一个中国的区块链平台，能够在其上运行智能合约和部署DApps。作为非盈利项目的一部分，NEO的功能是作为一个开放的区块链网络来实现智能经济。

NEO的智能经济愿景是基于数字资产、数字身份和智能合约。对于数字资产，NEO使用两种加密货币，NEO和GAS。未来，该项目还旨在实现原生数字资产的开发，包括代币化的传统资产。

持有NEO可以赋予用户治理权（如对网络提案进行投票），而GAS则用于网络行动，如部署智能合约。

NEO和GAS的功能与Ethereum网络的ETH非常相似。这里的主要区别是，NEO区块链使用不同的币进行管理和网络行动，而Ethereum只使用一种数字资产（ETH）。

对于数字身份，NEO曾经运行X.509公钥基础设施（PKI）标准。但现在，NEO已经放弃了这一标准，转向开发NEOID。NEO这一方案的特别之处在于，用户能够使用生物识别技术（指纹、面部识别、语音等）来确认自己的身份。它的目的是让互联网更加以用户为中心。

NEO用以实现智能经济的最后一个要素是智能合约，指的是当两方或多方满足预设条件时自动执行的计算机代码。

与Ethereum使用单一语言（Solidity）进行智能合约编程以减少错误不同，NEO允许开发人员使用流行的编程语言（如C#和Java）。

NEO和Ethereum的另一个区别是可扩展性水平。

Ethereum可以扩展到每秒20笔交易(TPS)，而NEO的交易吞吐量约为1000TPS，如果优化得当，有可能达到10000TPS。

NEO的资产表现如何？
作为按市值计算的第20大加密货币，NEO为项目投资者带来了极好的投资回报率。

在2016年9月项目代币销售期间获得500万美元的出资后，NEO的价格就进入了下跌趋势，截止2017年3月15日从0.55美元跌至0.13美元。

然而，2017年4月，NEO进入牛市，到6月20日从0.17美元升值至10.19美元。

经过一段小幅调整后，到8月中旬，NEO的价值又开始飙升至48.11美元。

在12月加密牛市的高峰期，数字资产的价格又呈上升趋势，年底为72.40美元，2017年涨幅超过48000%。

然而，由于熊市的情况，NEO无法维持这一价格水平，导致2018年底跌至8.12美元。

除了一些小幅波动，NEO的价格在2019年保持稳定，2019年12月31日，NEO的交易价格为9.02美元。

2020年伊始，NEO的价值为8.79美元，到2月15日，NEO的价格迅速上升到16美元。然而，3月份的股市闪崩推动了NEO的价格下降到6美元（3月13日）。

之后NEO的价格迅速恢复，到6月2日达到12.61美元，然后进入修正期。在撰写本文时，NEO的交易价格为10.14美元。

NEO相关资讯
最近，NEO因其在推广区块链技术和数字资产方面的工作获得广泛的新闻报道和关注。

4月，NEO与苏黎世大学建立了合作关系，在欧洲范围内推广区块链技术及其不同的用例。

上个月，NEO与微软、IBM、纳斯达克和埃森哲这些科技界巨头一起，成为InterWork联盟的五大赞助商之一，该联盟是一个以加速区块链创新为目标的非营利组织。

虽然发布日期尚未确定，但NEO预计将在今年晚些时候推出新的区块链网络（NEO 3.0）的主网。

据项目团队透露，NEO 3.0升级将显著提高网络的速度和稳定性，同时为大规模的企业应用做好准备。</string>
		<key>time</key>
		<string>2020-07-07 18:16:23</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2020-07-07 18:53:25</string>
		<key>images</key>
		<array>
			<string>community_01</string>
		</array>
		<key>title</key>
		<string>什么是区块链</string>
		<key>content</key>
		<string>区块链起源于中本聪的比特币，作为比特币的底层技术，本质上是一个去中心化的数据库。是指通过去中心化和去信任的方式集体维护一个可靠数据库的技术方案。
　　区块链技术是一种不依赖第三方、通过自身分布式节点进行网络数据的存储、验证、传递和交流的一种技术方案。因此，有人从金融会计的角度，把区块链技术看成是一种分布式开放性去中心化的大型网络记账薄，任何人任何时间都可以采用相同的技术标准加入自己的信息，延伸区块链，持续满足各种需求带来的数据录入需要。
　　通俗一点说，区块链技术就指一种全民参与记账的方式。所有的系统背后都有一个数据库，你可以把数据库看成是就是一个大账本。那么谁来记这个账本就变得很重要。目前就是谁的系统谁来记账，微信的账本就是腾讯在记，淘宝的账本就是阿里在记。但现在区块链系统中，系统中的每个人都可以有机会参与记账。在一定时间段内如果有任何数据变化，系统中每个人都可以来进行记账，系统会评判这段时间内记账最快最好的人，把他记录的内容写到账本，并将这段时间内账本内容发给系统内所有的其他人进行备份。这样系统中的每个人都了一本完整的账本。这种方式，我们就称它为区块链技术。
　　区块链技术被认为是互联网发明以来最具颠覆性的技术创新，它依靠密码学和数学巧妙的分布式算法，在无法建立信任关系的互联网上，无需借助任何第三方中心的介入就可以使参与者达成共识，以极低的成本解决了信任与价值的可靠传递难题。
　　比特币点对点网络将所有的交易历史都储存在“区块链”中。区块链在持续延长，而且新区块一旦加入到区块链中，就不会再被移走。区块链实际上是一群分散的用户端节点，并由所有参与者组成的分布式数据库，是对所有比特币交易历史的记录。比特币的交易数据被打包到一个“数据块”或 “区块”(block)中后，交易就算初步确认了。当区块链接到前一个区块之后，交易会得到进一步的确认。在连续得到6个区块确认之后，这笔交易基本上就不可逆转地得到确认了。
　　区块链在网络上是公开的，可以在每一个离线比特币钱包数据中查询。轻量级比特币钱包使用在线确认，即不会下载区块链数据到设备存储中。
　　数字货币容易被传统金融机构视做一种新的货币，但实际上其底层技术的意义和价值远远大于其货币属性。以比特币为例，一般意义上它被当作一种点对点形式的数字货币，但从技术层面来说，它实际上是一个点对点的去中心化网络平台，这样一个网络平台依托的正是区块链技术。数字货币是依靠区块链技术搭建的全球点对点网络平台。以比特币为代表的，区块链在数字货币领域的应用，也被称为Blockchain</string>
	</dict>
</array>
</plist>
