<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>涨幅榜</string>
		<key>type</key>
		<string>币种</string>
		<key>index</key>
		<string>全球指数(￥)</string>
		<key>change</key>
		<string>今日涨幅</string>
		<key>details</key>
		<array>
			<dict>
				<key>name</key>
				<string>INK</string>
				<key>price</key>
				<string>0.006284</string>
				<key>change</key>
				<string>+41.34%</string>
			</dict>
			<dict>
				<key>name</key>
				<string>DOGE</string>
				<key>price</key>
				<string>0.2512</string>
				<key>change</key>
				<string>31.35%</string>
			</dict>
			<dict>
				<key>name</key>
				<string>INCNT</string>
				<key>price</key>
				<string>0.5437</string>
				<key>change</key>
				<string>23.82%</string>
			</dict>
			<dict>
				<key>name</key>
				<string>CLOAK</string>
				<key>price</key>
				<string>1.3292</string>
				<key>change</key>
				<string>23.57%</string>
			</dict>
			<dict>
				<key>name</key>
				<string>UBT</string>
				<key>price</key>
				<string>2.8720</string>
				<key>change</key>
				<string>21.41%</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ADA</string>
				<key>price</key>
				<string>0.9248</string>
				<key>change</key>
				<string>18.87%</string>
			</dict>
			<dict>
				<key>name</key>
				<string>BQT</string>
				<key>price</key>
				<string> 0.083266</string>
				<key>change</key>
				<string>14.60%</string>
			</dict>
			<dict>
				<key>name</key>
				<string>VET</string>
				<key>price</key>
				<string>0.1246</string>
				<key>change</key>
				<string>13.94%</string>
			</dict>
		</array>
		<key>more</key>
		<array>
			<dict>
				<key>type</key>
				<string>币种</string>
				<key>index</key>
				<string>全球指数(￥)</string>
				<key>change</key>
				<string>今日涨幅</string>
				<key>details</key>
				<array>
					<dict>
						<key>name</key>
						<string>INK</string>
						<key>price</key>
						<string>0.006284</string>
						<key>change</key>
						<string>+41.34%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>DOGE</string>
						<key>price</key>
						<string>0.2512</string>
						<key>change</key>
						<string>31.35%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>INCNT</string>
						<key>price</key>
						<string>0.5437</string>
						<key>change</key>
						<string>23.82%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>CLOAK</string>
						<key>price</key>
						<string>1.3292</string>
						<key>change</key>
						<string>23.57%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>UBT</string>
						<key>price</key>
						<string>2.8720</string>
						<key>change</key>
						<string>21.41%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>BTT</string>
						<key>price</key>
						<string>0.002972</string>
						<key>change</key>
						<string>20.34%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>XZC</string>
						<key>price</key>
						<string>39.8132</string>
						<key>change</key>
						<string>20.08%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>COFI</string>
						<key>price</key>
						<string>0.008617</string>
						<key>change</key>
						<string>18.86%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>SERO</string>
						<key>price</key>
						<string>1.5066</string>
						<key>change</key>
						<string>16.72%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>DNT</string>
						<key>price</key>
						<string>0.052654</string>
						<key>change</key>
						<string>14.70%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>XSN</string>
						<key>price</key>
						<string>1.6914</string>
						<key>change</key>
						<string>14.41%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>NIM</string>
						<key>price</key>
						<string>0.029446</string>
						<key>change</key>
						<string>13.96%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>ELA</string>
						<key>price</key>
						<string>12.0711</string>
						<key>change</key>
						<string>12.64%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>WPR</string>
						<key>price</key>
						<string>0.063604</string>
						<key>change</key>
						<string>12.53%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>STRAT</string>
						<key>price</key>
						<string>4.4897</string>
						<key>change</key>
						<string>12.23%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>CND</string>
						<key>price</key>
						<string>0.053326</string>
						<key>change</key>
						<string>11.97%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>BANCA</string>
						<key>price</key>
						<string>0.000496</string>
						<key>change</key>
						<string>11.95%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>BLOCK</string>
						<key>price</key>
						<string>8.7428</string>
						<key>change</key>
						<string>11.87%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>ATOM</string>
						<key>price</key>
						<string>26.8579</string>
						<key>change</key>
						<string>10.48%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>VGX</string>
						<key>price</key>
						<string>0.3960</string>
						<key>change</key>
						<string>10.47%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>DCN</string>
						<key>price</key>
						<string>0.00003241</string>
						<key>change</key>
						<string>10.04%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>AE</string>
						<key>price</key>
						<string>1.0781</string>
						<key>change</key>
						<string>9.82%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>CLOAK</string>
						<key>price</key>
						<string>1.1859</string>
						<key>change</key>
						<string>8.38%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>QKC</string>
						<key>price</key>
						<string>0.050246</string>
						<key>change</key>
						<string>7.64%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>LAMB</string>
						<key>price</key>
						<string>0.1347</string>
						<key>change</key>
						<string>7.63%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>OAX</string>
						<key>price</key>
						<string>0.4031</string>
						<key>change</key>
						<string>7.48%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>PRS</string>
						<key>price</key>
						<string>0.1542</string>
						<key>change</key>
						<string>7.40%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>HPY</string>
						<key>price</key>
						<string>0.007001</string>
						<key>change</key>
						<string>7.29%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>TEL</string>
						<key>price</key>
						<string>0.001427</string>
						<key>change</key>
						<string>7.23%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>CDT</string>
						<key>price</key>
						<string>0.045804</string>
						<key>change</key>
						<string>6.97</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>跌幅榜</string>
		<key>type</key>
		<string>币种</string>
		<key>index</key>
		<string>全球指数(￥)</string>
		<key>change</key>
		<string>今日跌幅</string>
		<key>details</key>
		<array>
			<dict>
				<key>name</key>
				<string>VRC</string>
				<key>price</key>
				<string>0.1448</string>
				<key>change</key>
				<string>-33.22%</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TV</string>
				<key>price</key>
				<string>0.019031</string>
				<key>change</key>
				<string>-14.02%</string>
			</dict>
			<dict>
				<key>name</key>
				<string>CPX</string>
				<key>price</key>
				<string>0.024738</string>
				<key>change</key>
				<string>-10.74%</string>
			</dict>
			<dict>
				<key>name</key>
				<string>AVT</string>
				<key>price</key>
				<string>1.0737</string>
				<key>change</key>
				<string>-9.66%</string>
			</dict>
			<dict>
				<key>name</key>
				<string>DOGE</string>
				<key>price</key>
				<string>0.024861</string>
				<key>change</key>
				<string>-7.56%</string>
			</dict>
			<dict>
				<key>name</key>
				<string>IPL</string>
				<key>price</key>
				<string>0.007923</string>
				<key>change</key>
				<string>-6.92%</string>
			</dict>
			<dict>
				<key>name</key>
				<string>HOT</string>
				<key>price</key>
				<string>0.005070</string>
				<key>change</key>
				<string>-5.88%</string>
			</dict>
			<dict>
				<key>name</key>
				<string>REQ</string>
				<key>price</key>
				<string>0.2440</string>
				<key>change</key>
				<string>-5.20%</string>
			</dict>
		</array>
		<key>more</key>
		<array>
			<dict>
				<key>type</key>
				<string>币种</string>
				<key>index</key>
				<string>全球指数(￥)</string>
				<key>change</key>
				<string>今日跌幅</string>
				<key>details</key>
				<array>
					<dict>
						<key>name</key>
						<string>VRC</string>
						<key>price</key>
						<string>0.1448</string>
						<key>change</key>
						<string>-33.22%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>TV</string>
						<key>price</key>
						<string>0.019031</string>
						<key>change</key>
						<string>-14.02%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>CPX</string>
						<key>price</key>
						<string>0.024738</string>
						<key>change</key>
						<string>-10.74%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>AVT</string>
						<key>price</key>
						<string>1.0737</string>
						<key>change</key>
						<string>-9.66%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>DOGE</string>
						<key>price</key>
						<string>0.024861</string>
						<key>change</key>
						<string>-7.56%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>IPL</string>
						<key>price</key>
						<string>0.007923</string>
						<key>change</key>
						<string>-6.92%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>HOT</string>
						<key>price</key>
						<string>0.005070</string>
						<key>change</key>
						<string>-5.88%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>REQ</string>
						<key>price</key>
						<string>0.2440</string>
						<key>change</key>
						<string>-5.20%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>AEON</string>
						<key>price</key>
						<string>2.5512</string>
						<key>change</key>
						<string>-4.87%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>EKO</string>
						<key>price</key>
						<string>0.010044</string>
						<key>change</key>
						<string>-4.56%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>BLOCK</string>
						<key>price</key>
						<string>8.8325</string>
						<key>change</key>
						<string>-4.41%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>XUC</string>
						<key>price</key>
						<string>7.5439</string>
						<key>change</key>
						<string>-4.25%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>FP</string>
						<key>price</key>
						<string>0.009687</string>
						<key>change</key>
						<string>-3.97%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>INXT</string>
						<key>price</key>
						<string>6.2308</string>
						<key>change</key>
						<string>-3.93%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>CPC</string>
						<key>price</key>
						<string>0.017715</string>
						<key>change</key>
						<string>-3.90%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>ETN</string>
						<key>price</key>
						<string>0.037831</string>
						<key>change</key>
						<string>-3.30%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>OAX</string>
						<key>price</key>
						<string>0.4017</string>
						<key>change</key>
						<string>-3.26%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>CXO</string>
						<key>price</key>
						<string>0.1259</string>
						<key>change</key>
						<string>-2.81%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>EXRN</string>
						<key>price</key>
						<string>0.00006943</string>
						<key>change</key>
						<string>-2.70%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>ZSC</string>
						<key>price</key>
						<string>0.001616</string>
						<key>change</key>
						<string>-2.46%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>FCT</string>
						<key>price</key>
						<string>10.6124</string>
						<key>change</key>
						<string>-2.41%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>DLT</string>
						<key>price</key>
						<string>0.2795</string>
						<key>change</key>
						<string>-2.29%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>CHSB</string>
						<key>price</key>
						<string>0.6067</string>
						<key>change</key>
						<string>-2.27%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>SNM</string>
						<key>price</key>
						<string>0.071386</string>
						<key>change</key>
						<string>-2.23%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>CND</string>
						<key>price</key>
						<string>0.053209</string>
						<key>change</key>
						<string>-1.97%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>NAV</string>
						<key>price</key>
						<string>0.8658</string>
						<key>change</key>
						<string>-1.91%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>DRGN</string>
						<key>price</key>
						<string>0.6133</string>
						<key>change</key>
						<string>-1.89%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>BTT</string>
						<key>price</key>
						<string>0.002808</string>
						<key>change</key>
						<string>-1.83%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>HPY</string>
						<key>price</key>
						<string>0.006510</string>
						<key>change</key>
						<string>-1.76%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>XWC</string>
						<key>price</key>
						<string>0.7377</string>
						<key>change</key>
						<string>-1.68%</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>换手排行榜</string>
		<key>type</key>
		<string>币种</string>
		<key>index</key>
		<string>全球指数(￥)</string>
		<key>change</key>
		<string>24H换手率</string>
		<key>details</key>
		<array>
			<dict>
				<key>name</key>
				<string>BITCNY</string>
				<key>price</key>
				<string>0.7665</string>
				<key>change</key>
				<string>5272.70%</string>
			</dict>
			<dict>
				<key>name</key>
				<string>BQT</string>
				<key>price</key>
				<string>0.078435</string>
				<key>change</key>
				<string>1170.29%</string>
			</dict>
			<dict>
				<key>name</key>
				<string>BLOC</string>
				<key>price</key>
				<string>0.001099</string>
				<key>change</key>
				<string>356.32%</string>
			</dict>
			<dict>
				<key>name</key>
				<string>GNX</string>
				<key>price</key>
				<string>0.074270</string>
				<key>change</key>
				<string>306.41%</string>
			</dict>
			<dict>
				<key>name</key>
				<string>COFI</string>
				<key>price</key>
				<string>0.009064</string>
				<key>change</key>
				<string>280.20%</string>
			</dict>
			<dict>
				<key>name</key>
				<string>GTO</string>
				<key>price</key>
				<string>0.078127</string>
				<key>change</key>
				<string>258.42%</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ZCC</string>
				<key>price</key>
				<string>0.011990</string>
				<key>change</key>
				<string>254.10%</string>
			</dict>
			<dict>
				<key>name</key>
				<string>USDT</string>
				<key>price</key>
				<string>7.0139</string>
				<key>change</key>
				<string>199.44%</string>
			</dict>
		</array>
		<key>more</key>
		<array>
			<dict>
				<key>type</key>
				<string>币种</string>
				<key>index</key>
				<string>全球指数(￥)</string>
				<key>change</key>
				<string>24H换手率</string>
				<key>details</key>
				<array>
					<dict>
						<key>name</key>
						<string>BITCNY</string>
						<key>price</key>
						<string>0.7665</string>
						<key>change</key>
						<string>5272.70%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>BQT</string>
						<key>price</key>
						<string>0.078435</string>
						<key>change</key>
						<string>1170.29%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>BLOC</string>
						<key>price</key>
						<string>0.001099</string>
						<key>change</key>
						<string>356.32%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>GNX</string>
						<key>price</key>
						<string>0.074270</string>
						<key>change</key>
						<string>306.41%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>COFI</string>
						<key>price</key>
						<string>0.009064</string>
						<key>change</key>
						<string>280.20%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>GTO</string>
						<key>price</key>
						<string>0.078127</string>
						<key>change</key>
						<string>258.42%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>ZCC</string>
						<key>price</key>
						<string>0.011990</string>
						<key>change</key>
						<string>254.10%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>USDT</string>
						<key>price</key>
						<string>7.0139</string>
						<key>change</key>
						<string>199.44%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>FTC</string>
						<key>price</key>
						<string>0.055736</string>
						<key>change</key>
						<string>189.75%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>OCN</string>
						<key>price</key>
						<string>0.003755</string>
						<key>change</key>
						<string>157.63%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>NULS</string>
						<key>price</key>
						<string>3.7607</string>
						<key>change</key>
						<string>150.02%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>QKC</string>
						<key>price</key>
						<string>0.050311</string>
						<key>change</key>
						<string>147.75%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>CHAT</string>
						<key>price</key>
						<string>0.017400</string>
						<key>change</key>
						<string>126.95%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>ELF</string>
						<key>price</key>
						<string>0.6883</string>
						<key>change</key>
						<string>121.68%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>ETC</string>
						<key>price</key>
						<string>45.4744</string>
						<key>change</key>
						<string>119.48%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>HPY</string>
						<key>price</key>
						<string>0.006547</string>
						<key>change</key>
						<string>118.27%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>TRUE</string>
						<key>price</key>
						<string>2.2314</string>
						<key>change</key>
						<string>114.33%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>ENU</string>
						<key>price</key>
						<string>0.006540</string>
						<key>change</key>
						<string>113.08%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>PST</string>
						<key>price</key>
						<string>0.1743</string>
						<key>change</key>
						<string>110.30%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>BASH</string>
						<key>price</key>
						<string>0.002428</string>
						<key>change</key>
						<string>103.87%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>CTXC</string>
						<key>price</key>
						<string>0.8518</string>
						<key>change</key>
						<string>97.80%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>RNT</string>
						<key>price</key>
						<string>0.087681</string>
						<key>change</key>
						<string>96.27%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>ITC</string>
						<key>price</key>
						<string>0.6881</string>
						<key>change</key>
						<string>93.58%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>IOST</string>
						<key>price</key>
						<string>0.045559</string>
						<key>change</key>
						<string>81.69%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>PAY</string>
						<key>price</key>
						<string>0.3931</string>
						<key>change</key>
						<string>78.90%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>QTUM</string>
						<key>price</key>
						<string>14.3592</string>
						<key>change</key>
						<string>78.11%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>DASH</string>
						<key>price</key>
						<string>502.67</string>
						<key>change</key>
						<string>75.27%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>DAC</string>
						<key>price</key>
						<string>0.040841</string>
						<key>change</key>
						<string>74.80%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>TEP</string>
						<key>price</key>
						<string>0.1180</string>
						<key>change</key>
						<string>74.69%</string>
					</dict>
					<dict>
						<key>name</key>
						<string>ACT</string>
						<key>price</key>
						<string>0.050297</string>
						<key>change</key>
						<string>74.56%</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>成交排行榜</string>
		<key>type</key>
		<string>币种</string>
		<key>index</key>
		<string>全球指数(￥)</string>
		<key>change</key>
		<string>24H额(￥)</string>
		<key>details</key>
		<array>
			<dict>
				<key>name</key>
				<string>USDT</string>
				<key>price</key>
				<string>7.0156</string>
				<key>change</key>
				<string>173.12亿</string>
			</dict>
			<dict>
				<key>name</key>
				<string>BTC</string>
				<key>price</key>
				<string>64398.96</string>
				<key>change</key>
				<string>60.12亿</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ETH</string>
				<key>price</key>
				<string>1678.73</string>
				<key>change</key>
				<string>22.06亿</string>
			</dict>
			<dict>
				<key>name</key>
				<string>LTC</string>
				<key>price</key>
				<string>310.51</string>
				<key>change</key>
				<string>14.63亿</string>
			</dict>
			<dict>
				<key>name</key>
				<string>XRP</string>
				<key>price</key>
				<string>1.4187</string>
				<key>change</key>
				<string>13.88亿</string>
			</dict>
			<dict>
				<key>name</key>
				<string>BCH</string>
				<key>price</key>
				<string>1667.74</string>
				<key>change</key>
				<string>13.54亿</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NQ</string>
				<key>price</key>
				<string>1.0037</string>
				<key>change</key>
				<string>11.81亿</string>
			</dict>
			<dict>
				<key>name</key>
				<string>BSV</string>
				<key>price</key>
				<string>1270.81</string>
				<key>change</key>
				<string>10.03亿</string>
			</dict>
		</array>
		<key>more</key>
		<array>
			<dict>
				<key>type</key>
				<string>币种</string>
				<key>index</key>
				<string>全球指数(￥)</string>
				<key>change</key>
				<string>24H额(￥)</string>
				<key>details</key>
				<array>
					<dict>
						<key>name</key>
						<string>USDT</string>
						<key>price</key>
						<string>7.0156</string>
						<key>change</key>
						<string>173.12亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>BTC</string>
						<key>price</key>
						<string>64398.96</string>
						<key>change</key>
						<string>60.12亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>ETH</string>
						<key>price</key>
						<string>1678.73</string>
						<key>change</key>
						<string>22.06亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>LTC</string>
						<key>price</key>
						<string>310.51</string>
						<key>change</key>
						<string>14.63亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>XRP</string>
						<key>price</key>
						<string>1.4187</string>
						<key>change</key>
						<string>13.88亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>BCH</string>
						<key>price</key>
						<string>1667.74</string>
						<key>change</key>
						<string>13.54亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>NQ</string>
						<key>price</key>
						<string>1.0037</string>
						<key>change</key>
						<string>11.81亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>BSV</string>
						<key>price</key>
						<string>1270.81</string>
						<key>change</key>
						<string>10.03亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>EOS</string>
						<key>price</key>
						<string>18.3657</string>
						<key>change</key>
						<string>9.21亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>ETC</string>
						<key>price</key>
						<string>45.6556</string>
						<key>change</key>
						<string>8.68亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>ADA</string>
						<key>price</key>
						<string>0.8511</string>
						<key>change</key>
						<string>8.27亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>TRX</string>
						<key>price</key>
						<string>0.1285</string>
						<key>change</key>
						<string>6.30亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>VET</string>
						<key>price</key>
						<string>0.1209</string>
						<key>change</key>
						<string>5.79亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>LINK</string>
						<key>price</key>
						<string>43.0939</string>
						<key>change</key>
						<string>5.48亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>DASH</string>
						<key>price</key>
						<string>502.43</string>
						<key>change</key>
						<string>5.01亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>GKC</string>
						<key>price</key>
						<string>18.7877</string>
						<key>change</key>
						<string>4.89亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>XLM</string>
						<key>price</key>
						<string>0.6711</string>
						<key>change</key>
						<string>4.75亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>SMP</string>
						<key>price</key>
						<string>69.4165</string>
						<key>change</key>
						<string>3.84亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>ZEC</string>
						<key>price</key>
						<string>393.15</string>
						<key>change</key>
						<string>3.38亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>ATOM</string>
						<key>price</key>
						<string>30.6937</string>
						<key>change</key>
						<string>3.07亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>DOGE</string>
						<key>price</key>
						<string>0.025225</string>
						<key>change</key>
						<string>2.56亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>XMR</string>
						<key>price</key>
						<string>482.70</string>
						<key>change</key>
						<string>2.39亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>QC</string>
						<key>price</key>
						<string>0.9932</string>
						<key>change</key>
						<string>2.15亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>DUSD</string>
						<key>price</key>
						<string>7.1260</string>
						<key>change</key>
						<string>2.07亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>BGO</string>
						<key>price</key>
						<string>0.3480</string>
						<key>change</key>
						<string>2.06亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>BITCNY</string>
						<key>price</key>
						<string>0.7720</string>
						<key>change</key>
						<string>1.68亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>NEO</string>
						<key>price</key>
						<string>74.2489</string>
						<key>change</key>
						<string>1.61亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>BNB</string>
						<key>price</key>
						<string>120.90</string>
						<key>change</key>
						<string>1.58亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>HT</string>
						<key>price</key>
						<string>29.4142</string>
						<key>change</key>
						<string>1.51亿</string>
					</dict>
					<dict>
						<key>name</key>
						<string>QTUM</string>
						<key>price</key>
						<string>14.3942</string>
						<key>change</key>
						<string>1.47亿</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>新币上市</string>
		<key>type</key>
		<string>币种</string>
		<key>index</key>
		<string>发行总量</string>
		<key>change</key>
		<string>上币时间</string>
		<key>details</key>
		<array>
			<dict>
				<key>name</key>
				<string>OCB</string>
				<key>price</key>
				<string>6000万</string>
				<key>change</key>
				<string>20/08/11</string>
			</dict>
			<dict>
				<key>name</key>
				<string>CCFT</string>
				<key>price</key>
				<string>1亿</string>
				<key>change</key>
				<string>20/08/11</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ETH</string>
				<key>price</key>
				<string>9.70亿</string>
				<key>change</key>
				<string>20/07/27</string>
			</dict>
			<dict>
				<key>name</key>
				<string>CSSC</string>
				<key>price</key>
				<string>1000万</string>
				<key>change</key>
				<string>20/07/21</string>
			</dict>
			<dict>
				<key>name</key>
				<string>FTJ</string>
				<key>price</key>
				<string>210万</string>
				<key>change</key>
				<string>20/07/20</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NIRX</string>
				<key>price</key>
				<string>68.87亿</string>
				<key>change</key>
				<string>20/07/17</string>
			</dict>
			<dict>
				<key>name</key>
				<string>GPSS</string>
				<key>price</key>
				<string>6亿</string>
				<key>change</key>
				<string>20/07/15</string>
			</dict>
			<dict>
				<key>name</key>
				<string>CB</string>
				<key>price</key>
				<string>10亿</string>
				<key>change</key>
				<string>20/07/15</string>
			</dict>
		</array>
		<key>more</key>
		<array>
			<dict>
				<key>type</key>
				<string>币种</string>
				<key>index</key>
				<string>发行总量</string>
				<key>change</key>
				<string>上币时间</string>
				<key>details</key>
				<array>
					<dict>
						<key>name</key>
						<string>OCB</string>
						<key>price</key>
						<string>6000万</string>
						<key>change</key>
						<string>20/08/11</string>
					</dict>
					<dict>
						<key>name</key>
						<string>CCFT</string>
						<key>price</key>
						<string>1亿</string>
						<key>change</key>
						<string>20/08/11</string>
					</dict>
					<dict>
						<key>name</key>
						<string>ETH</string>
						<key>price</key>
						<string>9.70亿</string>
						<key>change</key>
						<string>20/07/27</string>
					</dict>
					<dict>
						<key>name</key>
						<string>CSSC</string>
						<key>price</key>
						<string>1000万</string>
						<key>change</key>
						<string>20/07/21</string>
					</dict>
					<dict>
						<key>name</key>
						<string>FTJ</string>
						<key>price</key>
						<string>210万</string>
						<key>change</key>
						<string>20/07/20</string>
					</dict>
					<dict>
						<key>name</key>
						<string>NIRX</string>
						<key>price</key>
						<string>68.87亿</string>
						<key>change</key>
						<string>20/07/17</string>
					</dict>
					<dict>
						<key>name</key>
						<string>GPSS</string>
						<key>price</key>
						<string>6亿</string>
						<key>change</key>
						<string>20/07/15</string>
					</dict>
					<dict>
						<key>name</key>
						<string>CB</string>
						<key>price</key>
						<string>10亿</string>
						<key>change</key>
						<string>20/07/15</string>
					</dict>
					<dict>
						<key>name</key>
						<string>MTRG</string>
						<key>price</key>
						<string>4000万</string>
						<key>change</key>
						<string>20/07/15</string>
					</dict>
					<dict>
						<key>name</key>
						<string>TNK</string>
						<key>price</key>
						<string>10亿</string>
						<key>change</key>
						<string>20/07/12</string>
					</dict>
					<dict>
						<key>name</key>
						<string>VRA</string>
						<key>price</key>
						<string>108.40亿</string>
						<key>change</key>
						<string>20/07/10</string>
					</dict>
					<dict>
						<key>name</key>
						<string>OKS</string>
						<key>price</key>
						<string>1亿</string>
						<key>change</key>
						<string>20/07/10</string>
					</dict>
					<dict>
						<key>name</key>
						<string>TNC</string>
						<key>price</key>
						<string>1亿</string>
						<key>change</key>
						<string>20/07/10</string>
					</dict>
					<dict>
						<key>name</key>
						<string>DOGE</string>
						<key>price</key>
						<string>1189.88亿</string>
						<key>change</key>
						<string>20/07/10</string>
					</dict>
					<dict>
						<key>name</key>
						<string>STAKE</string>
						<key>price</key>
						<string>853.75万</string>
						<key>change</key>
						<string>20/07/10</string>
					</dict>
					<dict>
						<key>name</key>
						<string>NVT</string>
						<key>price</key>
						<string>11亿</string>
						<key>change</key>
						<string>20/07/10</string>
					</dict>
					<dict>
						<key>name</key>
						<string>COMP</string>
						<key>price</key>
						<string>1000万</string>
						<key>change</key>
						<string>20/07/10</string>
					</dict>
					<dict>
						<key>name</key>
						<string>ALGO</string>
						<key>price</key>
						<string>25.28亿</string>
						<key>change</key>
						<string>20/07/10</string>
					</dict>
					<dict>
						<key>name</key>
						<string>AIDOC</string>
						<key>price</key>
						<string>7.77亿</string>
						<key>change</key>
						<string>20/07/10</string>
					</dict>
					<dict>
						<key>name</key>
						<string>SN</string>
						<key>price</key>
						<string>2100万</string>
						<key>change</key>
						<string>20/07/10</string>
					</dict>
					<dict>
						<key>name</key>
						<string>GNVT</string>
						<key>price</key>
						<string>10亿</string>
						<key>change</key>
						<string>20/07/10</string>
					</dict>
					<dict>
						<key>name</key>
						<string>NVT</string>
						<key>price</key>
						<string>11亿</string>
						<key>change</key>
						<string>20/07/10</string>
					</dict>
					<dict>
						<key>name</key>
						<string>BDAM</string>
						<key>price</key>
						<string>20亿</string>
						<key>change</key>
						<string>20/07/10</string>
					</dict>
					<dict>
						<key>name</key>
						<string>WOMG</string>
						<key>price</key>
						<string>19亿</string>
						<key>change</key>
						<string>20/07/10</string>
					</dict>
					<dict>
						<key>name</key>
						<string>SCDS</string>
						<key>price</key>
						<string>3.99亿</string>
						<key>change</key>
						<string>20/07/10</string>
					</dict>
					<dict>
						<key>name</key>
						<string>BL</string>
						<key>price</key>
						<string>5168万</string>
						<key>change</key>
						<string>20/07/10</string>
					</dict>
					<dict>
						<key>name</key>
						<string>AREC</string>
						<key>price</key>
						<string>210亿</string>
						<key>change</key>
						<string>20/07/10</string>
					</dict>
					<dict>
						<key>name</key>
						<string>TIIM</string>
						<key>price</key>
						<string>5亿</string>
						<key>change</key>
						<string>20/07/10</string>
					</dict>
					<dict>
						<key>name</key>
						<string>NEON</string>
						<key>price</key>
						<string>500亿</string>
						<key>change</key>
						<string>20/07/9</string>
					</dict>
					<dict>
						<key>name</key>
						<string>FIL</string>
						<key>price</key>
						<string>1亿</string>
						<key>change</key>
						<string>20/07/9</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
